html {
  height: 100%;
}

body {
  background: #ededed;
  font: 15px Arial, sans-serif;
  line-height: 1.3;
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
}

a {
	color: #669933;
}

a:link {
	text-decoration: none;
	color:#790815;
}
/*
a:hover {
	text-decoration: underline;
	color:#790815;
}
*/
li:not(:last-child) {
    margin-bottom: 7px;
}

/* Opera Fix */
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;
}

#sidebar-a {
	float: right;
	width: 199px;
  height: 300px;
	line-height: 18px;
  padding-right: 15px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#sidebar-b, #ytplayer-arraytrack {
  float: left;
  padding: 15px 15px 15px 0px;
}

#sidebar-b, #ytplayer-mobitagbot {
  float: right;
  padding: 15px 0 15px 15px;
}

#sidebar-a p {
  text-align: right;
	font-family: Arial, Helvetica, Sans-serif;
  font-size: 7px;
  line-height: 8px;
	text-decoration: none;
	color: #777777;
}

#page {
  width: 990px;
  /* position: relative; */
  min-height: 100%;
  margin: 0 auto;
  padding: 0;
  border-width: 0px 1px 0px 1px;
  border-color: #dbdbdb;
  background: white;
  border-style: solid;
}

#page p.disclaimer {
  font-size: 10px;
  color: #aaaaaa;
}

p.credit {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

#header {
  position: relative;
  background-color: white;
  vertical-align: middle;
}

#kyle {
  float: left;
  margin-top: 10px;
  height: 225px;
  width: 190px;
  padding: 20px;
}

#princeton-logo {
  float: right;
  margin: 0;
  padding: 15px;
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translateY(-50%);
}

#title {
  padding: 20px 0 30px 0;
  margin: 0 15px 0 15px;
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: black;
  width: 700px;
  line-height: 1.2;
}

#title span {
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #585858;
}

#title span.address {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #585858;
}

#body {
  margin: 0 15px 0 15px;
  /* background: #e2e3e4; */
  background: white;
  overflow: auto;
  padding: 0 0 175px 0; 
  clear: both;
}

p { 
  margin-bottom: 7px; 
}

h1 {
  font-family: 'futura book', Arial, Helvetica, sans-serif;
  font-size: 19px;
  line-height: 1.2;
  margin: 35px 0 5px 0;
  color: #669933;
  text-transform: uppercase;
  /* border-bottom-style: dotted;
  border-bottom-width: 2px;
  border-bottom-color: #E87511; */
}

h2 {
  font-family: 'futura book', Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.2;
  margin: 25px 0 2px 0;
  color: #669933;
  text-transform: uppercase;
}

h3 {
  font-family: 'futura book', Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.2;
  margin: 20px 0 2px 0;
  color: #669933;
}

h4 {
  font-family: 'futura book', Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 1.2;
  margin: 15px 0 2px 0;
  color: #669933;
}

#body ul {
  margin: 0;
}

#body ul li {
  padding: 2px;
}

#body .pubs {
  margin-bottom: 40px;
}

#body .pubs .pub {
  background: #ededed ! important;
  margin: 15px 15px 15px 15px;
  padding: 5px 15px 5px 15px;
}

#body #ytplayer {
  margin-left: 15px;
}

/*#body .pubs .pub:nth-of-type(odd) {
  background: #d0d0d0 ! important;
}

#body .pubs .pub:nth-of-type(even) {
  background: #fff0f0 ! important;
}*/

#body .pubs .pub .title {
  font-weight: normal;
}

#body .pubs .pub .venue {
  color: #669933;
}

#body .pubs .pub a.pdflink {
  float: right;
  vertical-align: top;
  padding-left: 10px;
  transform: translateY(25%);
}

#body .pubs .pub a.pdflink img {
  vertical-align: middle;
  width: auto;
  height: 25px;
}

#body ul#news li {
  margin: 0;
}

#bmenu-container {
  margin: 0;
  padding: 20px 0 20px 0;
  clear: both;
}

.bmenu {
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #dbdbdb;
}

.bmenu li {
    font-family: 'futura book', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 13px;
    display: inline-block;
    padding: 0px 0px 0px 10px !important;
}

.bmenu li a {
	display: block;
	text-transform: uppercase;
  text-align: center;
	color: #555555;
  margin: 0 !important;
	padding: 4px 5px;
	letter-spacing: 1px;
  text-decoration: none;
  border-bottom: 5px solid white;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	-o-transition: all 0.1s linear;
	-ms-transition: all 0.1s linear;
	transition: all 0.1s linear;
}

body.about .bmenu li#about,
body.publications .bmenu li#publications,
body.teaching .bmenu li#teaching,
body.honors .bmenu li#honors,
body.service .bmenu li#service {
  font-weight: bold;
}

body.about .bmenu li#about a,
body.publications .bmenu li#publications a,
body.teaching .bmenu li#teaching a,
body.honors .bmenu li#honors a,
body.service .bmenu li#service a {
  color: black;
  border-bottom: 5px solid black !important;
}

.bmenu:hover li a {
	color: black !important;
}

.bmenu li a:hover {
  color: #669933 !important;
  border-bottom: 5px solid #669933 !important;
}

#head, #foot {
	height: 0px;
  background: #ededed;
  width: 880px;
  margin: 0 auto;
}
